<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :white_id %>
  </div>
  <div>
    <%= form.label :white_name, style: "display: block" %>
    <%= form.text_field :white_name, id: :white_name_input, list: 'white-name-list' %>
    <datalist id="white-name-list" data-user-id-table='<%= @player_hash.to_json %>'>
      <% @players.each_with_index do |player, i|%>
        <option value="<%= player.name %>" id="white-name-option-<%= player.name.strip %>" data-id="<%= i+1 %>">
      <% end %>
    </datalist>
  </div>

  <div>
    <%= form.hidden_field :black_id %>
  </div>
  <div>
    <%= form.label :black_name, style: "display: block" %>
    <%= form.text_field :black_name, id: :black_name_input, list: 'black-name-list' %>
    <datalist id="black-name-list">
      <% @players.each_with_index do |player, i|%>
        <option value="<%= player.name %>" id="black-name-option-<%= player.name.strip %>" data-id="<%= i+1 %>">
      <% end %>
    </datalist>
  </div>

  <div>
    <%= form.label :result, style: "display: block" %>
    <%= form.select :result, ["White Win", "Black Win", "Draw", "Unknown"] %>
  </div>

  <%# TOOD: time %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>


  <div>
    <div id="inputBoard" style="max-width: 400px"></div>
    <button type="button" class="btn btn-outline-secondary mt-1" id="undoButton">Undo</button>
    <button type="button" class="btn btn-outline-secondary mt-1" id="flipBoardButton">Flip</button>
  </div>
  <div>
    <%= form.label :moves, style: "display: block" %>
    <%= form.text_area :moves %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
