<div id="<%= dom_id game %>">
  <p>
    <strong>White:</strong>
    <%= game.white %>
  </p>

  <p>
    <strong>Black:</strong>
    <%= game.black %>
  </p>

  <p>
    <strong>Moves:</strong>
    <span id="gameMoves">
      <%= game.moves %>
    </span>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= game.comment %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= game.time %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= game.result %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= game.date %>
  </p>

  <p>
    <strong>Move comments:</strong>
    <%= game.move_comments %>
  </p>

</div>
