
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">White</th>
        <th scope="col">Black</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <% games.each do |game| %>
        <tr class="showButton" style="cursor: pointer" data-game-path="<%= game_path(game) %>">
          <td>
            <% color = "" %>
            <% color = "text-success" if game.white_win? %>
            <% color = "text-danger" if game.black_win? %>
            <% color = "text-muted" if game.unknown? %>
            <div class="<%= color %>">
              <%= game.white.name %>
            </div>
          </td>
          <td>
            <% color = "" %>
            <% color = "text-success" if game.black_win? %>
            <% color = "text-danger" if game.white_win? %>
            <% color = "text-muted" if game.unknown? %>
            <div class="<%= color %>">
              <%= game.black.name %>
            </div>
          </td>
          <td><%= game.date&.strftime("%y/%-m/%-d")  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>