<% content_for :importmap_tag do %>
    <%= javascript_importmap_tags 'game/show' %>
<% end %>
<% content_for :additional_scripts do %>
  <%= stylesheet_link_tag "chessboard" %>
<% end %>
<% content_for :header_element do %>
  <div class="d-none"></div>
<% end %>
<div id="gameMoves" class="d-none"><%= @game.moves %></div>
<div id="engineApiPath" class="d-none" data-path="<%= Rails.application.config.engine_api_path %>"></div>

<%= render "game_info_table", game: @game %>

<%= render "show_board" %>
