<% content_for :importmap_tag do %>
    <%= javascript_importmap_tags 'game/show' %>
<% end %>
<% content_for :additional_scripts do %>
  <%= stylesheet_link_tag "chessboard", "data-turbo-track": "reload" %>
<% end %>
<p style="color: green"><%= notice %></p>

<%= render @game %>

<div>
  <%= link_to "Edit this game", edit_game_path(@game) %> |
  <%= link_to "Back to games", games_path %>

  <%= button_to "Destroy this game", @game, method: :delete %>
</div>

<div>
  <div id="board1" style="max-width: 400px"></div>
  <button type="button" class="btn" id="buttonBoardBigPrevious"><i class="fas fa-fast-backward"></i></button>
  <button type="button" class="btn" id="buttonBoardPrevious"><i class="fas fa-step-backward"></i></button>
  <button type="button" class="btn" id="buttonBoardNext"><i class="fas fa-step-forward"></i></button>
  <button type="button" class="btn" id="buttonBoardBigNext"><i class="fas fa-fast-forward"></i></button>
</div>
