<% content_for :importmap_tag do %>
    <%= javascript_importmap_tags 'game/show' %>
<% end %>
<% content_for :additional_scripts do %>
  <%= stylesheet_link_tag "chessboard", "data-turbo-track": "reload" %>
<% end %>
<div id="gameMoves" class="d-none"><%= @game.moves %></div>

<table class="table">
  <tbody>
    <tr>
      <td>white</td>
      <td><%= link_to @game.white.name, @game.white %></td>
    </tr>
    <tr>
      <td>black</td>
      <td><%= link_to @game.black.name, @game.black %></td>
    </tr>
    <tr>
      <td>Date</td>
      <td><%= @game.date %></td>
    </tr>
  </tbody>
</table>

<% if logged_in? %>
<div>
  <%= link_to "Edit this game", edit_game_path(@game) %> |
  <%= link_to "Back to games", games_path %>

  <%= button_to "Destroy this game", @game, method: :delete %>
</div>
<% end %>

<div>
  <div id="board1" style="max-width: 400px"></div>
  <button type="button" class="btn" id="buttonBoardBigPrevious"><i class="fas fa-fast-backward"></i></button>
  <button type="button" class="btn" id="buttonBoardPrevious"><i class="fas fa-step-backward"></i></button>
  <button type="button" class="btn" id="buttonBoardNext"><i class="fas fa-step-forward"></i></button>
  <button type="button" class="btn" id="buttonBoardBigNext"><i class="fas fa-fast-forward"></i></button>
</div>
