<% content_for :importmap_tag do %>
    <%= javascript_importmap_tags 'game/show' %>
<% end %>
<% content_for :additional_scripts do %>
  <%= stylesheet_link_tag "chessboard" %>
<% end %>
<div id="gameMoves" class="d-none"><%= @game.moves %></div>
<div id="engineApiPath" class="d-none" data-path="<%= Rails.application.config.engine_api_path %>"></div>

<%= render "game_info_table", game: @game %>

<% if logged_in? %>
<div>
  <% if current_user.id == @game.user&.id %>
    <%= link_to "Edit this game", edit_game_path(@game) %> |
  <% end %>
  <%= link_to "Back to games", games_path %>

  <% if current_user.id == @game.user&.id %>
    <%= button_to "Destroy this game", @game, method: :delete %>
  <% end %>
</div>
<% end %>

<%= render "show_board", pgn: @game.moves %>
