<% content_for :importmap_tag do %>
    <%= javascript_importmap_tags 'game/show' %>
<% end %>
<% content_for :additional_scripts do %>
  <%= stylesheet_link_tag "chessboard" %>
<% end %>
<div id="gameMoves" class="d-none"><%= @game.moves %></div>
<div id="engineApiPath" class="d-none" data-path="<%= Rails.application.config.engine_api_path %>"></div>

<table class="table">
  <tbody>
    <tr>
      <td>White</td>
      <td>
        <% if @game.white_win? %>
          <span class="badge rounded-pill bg-success">Win</span>
        <% elsif @game.black_win? %>
          <span class="badge rounded-pill bg-danger">Lose</span>
        <% elsif @game.draw? %>
          <span class="badge rounded-pill bg-secondary">Draw</span>
        <% end %>
        <%= link_to @game.white.name, @game.white %>
      </td>
    </tr>
    <tr>
      <td>Black</td>
      <td>
        <% if @game.black_win? %>
          <span class="badge rounded-pill bg-success">Win</span>
        <% elsif @game.white_win? %>
          <span class="badge rounded-pill bg-danger">Lose</span>
        <% elsif @game.draw? %>
          <span class="badge rounded-pill bg-secondary">Draw</span>
        <% end %>
        <%= link_to @game.black.name, @game.black %>
      </td>
    </tr>
    <tr>
      <td>Date</td>
      <td><%= @game.date %></td>
    </tr>
  </tbody>
</table>

<% if logged_in? %>
<div>
  <% if current_user.id == @game.user&.id %>
    <%= link_to "Edit this game", edit_game_path(@game) %> |
  <% end %>
  <%= link_to "Back to games", games_path %>

  <% if current_user.id == @game.user&.id %>
    <%= button_to "Destroy this game", @game, method: :delete %>
  <% end %>
</div>
<% end %>

<div>
  <div style="max-width: 400px">
    <div id="analysisBar" class="progress border">
      <div class="progress-bar bg-white text-dark" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
      <div class="progress-bar bg-dark" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
    </div>
    <div id="analysisNext">next: </div>
  </div>
  <div id="board1" style="max-width: 400px"></div>
  <div class="mt-1">
    <button type="button" class="btn" id="buttonBoardBigPrevious"><i class="fas fa-fast-backward"></i></button>
    <button type="button" class="btn" id="buttonBoardPrevious"><i class="fas fa-step-backward"></i></button>
    <button type="button" class="btn" id="buttonBoardNext"><i class="fas fa-step-forward"></i></button>
    <button type="button" class="btn" id="buttonBoardBigNext"><i class="fas fa-fast-forward"></i></button>
    <button type="button" class="btn btn-outline-info" id="buttonBoardFlip">flip</button>
  </div>
</div>
