<% content_for :importmap_tag do %>
    <%= javascript_importmap_tags 'player/index' %>
<% end %>

<h1>Players</h1>

<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">NCS ID</th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <tr class="showButton" style="cursor: pointer;" data-player-path="<%= player_path(player) %>">
          <td><%= player.name %></td>
          <td><%= player.ncs_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if logged_in? %>
<%= link_to "New player", new_player_path %>
<% end %>
