<!DOCTYPE html>
<html class="h-100">
  <head prefix="og: https://ogp.me/ns#">
    <title>ChessDatabase</title>
    <meta name="description" content="チェスデータベース。公式戦の棋譜の記録・閲覧ができます。プレイヤー名や局面から対局の検索ができます。">
    <meta property="og:title" content="ChessDatabase">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= records_url %>">
    <meta property="og:description" content="チェスデータベース。公式戦の棋譜の記録・閲覧ができます。プレイヤー名や局面から対局の検索ができます。">
    <%= favicon_link_tag('/white_king.png', {:type => 'image/png'}) %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "bootstrap", "data-turbo-track": "reload" %>
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src=<%= "https://www.googletagmanager.com/gtag/js?id=#{Rails.application.credentials.google_analytics_id}" %>></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= "#{Rails.application.credentials.google_analytics_id}" %>');
      </script>
    <% end %>
  </head>

  <body class="h-100">
    <div class="min-vh-100">
      <div><%= render partial: 'layouts/header' %></div>
      <%= yield %>
    </div>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
